apiVersion: v1
kind: Secret
metadata:
  name: db-common-secrets
  namespace: {{ .Release.Namespace }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: postgres
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- if .Values.dbUserPasswords.dbuserPassword }}
  db-dbuser-password: {{ .Values.dbUserPasswords.dbuserPassword | b64enc | quote}}
  {{- else }}
  db-dbuser-password: {{ randAlphaNum 10 | b64enc | quote }}
  {{- end }}

