apiVersion: v2
name: mock-smtp
description: A Helm chart to mock-smtp server application.
type: application
version: 1.0.0
dependencies:
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 1.x.x
home: https://mosip.io
keywords:
  - mosip
  - mock-smtp
maintainers:
  - email: info@mosip.io
    name: MOSIP
