name: Publish mosip-helm charts

on:
    push:
        branches:
            - 1.2.0.*
            - develop

jobs:
    Generate_Documentation:
        runs-on: ubuntu-latest
        steps:
            - name: Set up JDK 11
              uses: actions/setup-java@v1
              with:
                  java-version: 11

            - name: Checkout Repository
              uses: actions/checkout@v2
                #if: github.event.inputs.git-ref != ''
                #with:
                #    ref: ${{ github.event.inputs.git-ref }}

            - name: Setup Branch and Env
              run: |
                  # Strip git ref prefix from version
                  echo "BRANCH_NAME=$(echo ${{ github.ref }} | sed -e 's,.*/\(.*\),\1,')" >> $GITHUB_ENV

            - name: Generate tar files
              run: |
                  echo "BRANCH_NAME=$BRANCH_NAME";
                  helm repo add mosip https://mosip.github.io/mosip-helm
                  cd charts &&
                  find * -prune -type d > ../tmp.txt
                  cd ..
                  while IFS= read -r line
                  do
                    fullpath=$line
                    echo "Pullpath: $fullpath"
                    fullname=$(basename "$line")
                    echo "Filename: $fullname"
                    helm dependency update charts/$fullpath/
                    helm package charts/$fullpath
                  done < tmp.txt

            - name: Upload tar as Artifact
              uses: actions/upload-artifact@v2
              with:
                  name: charts
                  path: ./*.tgz
                  retention-days: 1

            - name: Checkout branch for publishing
              uses: actions/checkout@v2
              with:
                  ref: gh-pages

            - name: Download tar from Artifacts
              uses: actions/download-artifact@v2
              with:
                  name: charts
                  path: ./

            - name: Commit Changes to mosip-helm Repository
              uses: EndBug/add-and-commit@v7
              with:
                  branch: gh-pages
                  default_author: github_actions
                  message: 'added helm charts for release ${{ github.event.inputs.git-ref }}'
                  add: './*.tgz'
